.ui.menu {
  border-radius: 0;
}

.login-margin {
  margin-left: 5%;
  margin-right: 5%;
}

.hide-it {
  display: none !important;
}

.padding-20px {
  padding: 20px;
}

.hackathon-header-title {
  color: whitesmoke;
  font-size: 22px;
}

.hackathon-header-description {
  color: lightgray;
  font-size: 16px;
}

.hackathon-header-date {
  color: whitesmoke;
  font-size: 14px;
}

.hackathon-header-image-effect {
  padding: 5px;
  border-radius: 10px;
}

.hackathon-header-image-effect-shadow {
  content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 15px 10px rgb(0, 0, 0);
    margin: 15px;
}

.hackathon-header {
  padding-bottom: 10px;
  background-color: black;
}

.hackathon-header-image {
    position:relative;
    display:inline-block;
}

.hackathon-header-image:after {
  content: '';
  position: absolute;
  left: 0;
  top: 54px;
  width: 415px;
  height: 120px;
  background: linear-gradient(90deg,transparent 0,rgb(0, 0, 0));
}

.hacks-summary-margin {
  padding-left: 5%;
  padding-right: 5%;
}

.card-enter {
  opacity: 0.01;
}

.card-enter.card-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.card-leave {
  opacity: 1;
}

.card-leave.card-leave-active {
  opacity: 0.0;
  transition: opacity 1ms linear;
}

.float-right {
  float: right;
}

.word-wrap {
  word-wrap: break-word
}

.padding-top-20px {
  padding-top: 20px;
}

.padding-bottom-footer {
  padding-bottom: 80px;
}

.full-height {
  height: 100%;
}

.loading-height {
  height: 320px;
}

.loading-height-header {
  height: 220px;
  min-height: 220px;
}

.text-center {
  text-align: center;
}

@media (min-height: 320px) {
  .ui.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3000;
  }
}

@media (min-width: 734px) {
  .desktop {
    display: inherit;
  }

  .mobile {
    display: none !important;
  }

  .sidebar {
    display: none !important;
  }
}

@media (max-width: 734px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: inherit !important
  }

  .sidebar {
    display: inherit !important;
  }

}

.hamburger {
  color: black;
  padding-left: 10px;
  font-size: 25px !important;
  padding-top: 7px;
}
object{
  pointer-events: none;
}

.ui.reveal {
  z-index: 1;
}

.bm-item-list {
  background: black;
}

